Language:                       JavaScript
BasedOnStyle:                   Google
ColumnLimit:                    80
IndentWidth:                    4
ContinuationIndentWidth:        4
UseTab:                         Always
TabWidth:                       4
SpaceBeforeParens:              ControlStatements
SpacesInContainerLiterals:      true
AllowShortBlocksOnASingleLine:  false
AllowShortCaseLabelsOnASingleLine:  false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
Cpp11BracedListStyle: false
IndentCaseLabels: true
JavaScriptQuotes: Double
SortIncludes: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInSquareBrackets: false


